<div style="font-family: Georgia">
  <%= @user.greeting %>
  <%= simple_format t("email.invitation.text", token: @user.token) %>

  <%= image_tag "ai-dany/2018-engagement-preparty.jpg", style: "width: 400px" %>
</div>
