<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h2 class="text-center"><%= t "errors.#{@error}.title" %></h2>
      <p><%= simple_format t("errors.#{@error}.text") %></p>
    </div>
  </div>
</div>
